html {
  background: url("http://res.cloudinary.com/spottermart/image/upload/v1517776650/MainBG_g6n1jc.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; }

body {
  background: none;
  height: 100%; }
