html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #fafafa; }

@media print {
  body {
    background-color: #fff; } }

.bgd {
  background-image: url("https://res.cloudinary.com/spottermart/image/upload/v1517414824/AdobeStock_109410500_Preview_stgqbc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
