a {
  text-decoration: none; }

.link {
  cursor: pointer; }

.topnav .icon {
  display: none; }

@media screen and (max-width: 770px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav .hide-res {
    display: none; }
  .topnav .icon {
    display: block;
    margin-left: auto; } }
