a {
  text-decoration: none;
}

.link {
  cursor: pointer;
}

.topnav {

  .icon {
    display: none;
  }

  @media screen and (max-width: 770px) {
    a:not(:first-child) {
      display: none;
    }

    .hide-res {
      display: none;
    }

    .icon {
      display: block;
      margin-left: auto;
    }
  }
}

.res-nav {

  a {
    width: 100%;
  }
}