@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slide {
  height: 300px;
  width: auto;

  img {
    margin: 0 auto;
  }
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
}