.ais-SearchBox__wrapper {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.ais-SearchBox__input {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;
  padding: 0.35em 0.75em;
  font-size: 1.1em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
  flex: 1 0 150px; }

.ais-SearchBox__submit {
  display: none; }

.ais-SearchBox__reset {
  display: none; }

.ais-Pagination__root {
  display: flex;
  list-style: none;
  margin-top: 40px; }

.ais-Pagination__itemLink {
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6); }
